@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  background: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.overlay {
  background-image: url('images/pexels-julia-m-cameron-4144923.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 5;
  z-index: -1;
}
.container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  opacity:1;
}
.task-input {
  border-bottom: 2px solid #ccc;
}
.task-input input {
  border: none;
  outline: none;
  font-size: 18px;
  padding: 10px;
  width: 100%;
}
.task-input i {
  color: #007bff;
  cursor: pointer;
}
.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filters .btn {
  margin-right: 5px;
}
.filters .btn.active {
  background: #007bff;
  color: #fff;
}
.clear-btn {
  background: #dc3545;
  color: #fff;
}
.task-box {
  list-style: none;
  margin-top: 20px;
  max-height: 300px;
  overflow-y: auto;
}
.task-box::-webkit-scrollbar {
  width: 5px;
}
.task-box::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.task-box::-webkit-scrollbar-thumb {
  background: #888;
}
.task-box li {
  background: #f8f9fa;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.task-box li:last-child {
  margin-bottom: 0;
}
.task-box li .task-name {
  flex: 1;
  margin-left: 10px;
}
.task-box li .task-name.checked {
  text-decoration: line-through;
  color: #888;
}
.task-box li .task-actions {
  display: flex;
  align-items: center;
}
.task-box li .task-actions i {
  cursor: pointer;
  margin-left: 10px;
  color: #007bff;
}
.task-box li .task-actions i:hover {
  color: #0056b3;
}
